apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: guestbook-${ENV_NAME}
spec:
  destination:
    namespace: guestbook-${ENV_NAME}
    server: https://kubernetes.default.svc
  project: default
  source:
    kustomize: {}
    path: overlays/pr
    repoURL: https://github.com/isouza-daitan/guestbook-go-config
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
